.lightbox-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.lightbox-wrapper-type-container {
  display: flex;
  justify-content: center;
}

.lightbox-nav-icon {
  padding: 10px;
  color: var(--primary-color);
  font-size: 2rem;
  cursor: pointer;
}

/* .lightbox-items-multi {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  align-items: center;
} */

.lightbox-items-multi {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;

}

.lightbox-items-multi > img {
  max-width: 300px;
}

.lightbox-items-single {
  display: flex;
  flex-direction: column;
  max-width: 70%;
  max-height: 80%;
  justify-content: center;
}

.lightbox-items-single > img {
  margin: 30px 0px;
}

.lightbox {
  position:fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.7);
  z-index: 10;
}

.lightbox-active {
  display: block;
}

.lightbox-content-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.lightbox-hidden {
  display: none;
}

.lightbox-content-container img {
  max-width: 80%;
  max-height:90%;
}

.left, .right {
  cursor: pointer;
  font-size: 3rem;
}

.lightbox-thumbnail {
  overflow: hidden;
  margin: 30px;
  cursor: pointer;
  margin: 10px;
  transition: 200ms ease-in-out;
}

.lightbox-thumbnail:hover {
  overflow: hidden;
  transform: scale(110%);
  transition: 200ms ease-in-out;
}



/* MEDIA QUERIES */

@media screen and (max-width: 760px) {
  .lightbox-wrapper-nav {
      display: none;
    }
}