.lightbox-wrapper {
  display: flex;
  justify-content: center;
}

.lightbox-wrapper-type-container {
  display: flex;
  justify-content: center;
}

.lightbox-nav-icon {
  padding: 10px;
  color: var(--primary-color);
  font-size: 2rem;
  cursor: pointer;
}

.lightbox-items-multi {
  display: flex;
  flex-wrap: wrap;
}

.lightbox-items-multi > img {
  max-width: 300px;
  padding: 30px;
}

.lightbox-items-single {
  display: flex;
  flex-direction: column;
  max-width: 70%;
  justify-content: center;
}

.lightbox-items-single > img {
  padding: 30px 0px;
}

.lightbox {
  position:fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.7);
  z-index: 10;
}

.lightbox-active {
  display: block;
}

.lightbox-content-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.lightbox-hidden {
  display: none;
}

.lightbox-content-container img {
  max-width: 90%;
}

.left, .right {
  cursor: pointer;
  font-size: 3rem;
}