.page-heading {
  display: flex;
  justify-content: center;
  border-bottom: 3px solid var(--primary-color);
}

.page-heading h1 {
  font-family: Octarine, san-serif;
  font-size: 8rem;
  padding: 0;
  margin: 2rem;
}

@media (max-width: 1300px) {
  .page-heading h1 {
    font-size: 5rem;
  }
}