.about-me-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 10px;
  padding: 30px;
}

.about-me-content section {
  display: grid;
  width: 75%;
}

.about-me-content section h2 {
  font-family: Octarine, san-serif;
  font-size: 5rem;
  color: var(--primary-color);
  border-bottom: 3px solid var(--primary-color);
}

.about-me-content section table {
  width: 100%;
  border-collapse: collapse;
  border: 3px solid white;
  color: white;
}

.about-me-content section table th, .about-me-content section table td {
  padding: 20px;
}


/* When a screen gets too small, this styling allows for the tables to becomes left-right scrollable instead of a jumbled mess. */
.table-container {
  overflow-x: auto;
}

thead {
  background-color: var(--primary-color);
  color: black;
  border-bottom: 3px solid white;
}


tbody tr > th {
  text-align: left;
}

tbody tr td {
  text-align: center;
}

tbody td:hover, tbody th:hover {
  background-color: var(--primary-color);
  color: black;
  transition: 200ms ease-in-out;
}