/* GALLERY LISTING SECTION */

.gallery-list{
  margin: 100px 100px 0px 100px;
}

.gallery-container {
  display: flex;
  flex-direction: row;
  margin: 0;
}

.column-left {
  flex: 50%;
}

.column-right {
  flex: 50%;
}

.gallery-list .gallery-container:nth-child(even) {
  flex-direction: row-reverse;
}


@media (max-width: 1300px) {
  .gallery-container {
    flex-direction: column;
  }

  .gallery-list div.gallery-container:nth-child(even) {
    flex-direction: column;
  }
}