/* GALLERY LISTING SECTION */

.gallery-list {
  margin: 100px 100px 0px 100px;
  background-color: rgba(14, 14, 14, 0.7);
}

.gallery-list img {
  width: 100%;
}

.gallery-heading {
  display: flex;
  justify-content: center;
  border-bottom: 3px solid var(--primary-color);
}

.gallery-heading h1 {
  font-family: Octarine, san-serif;
  font-size: 8rem;
  padding: 0;
  margin: 2rem;
}


.gallery-container {
  display: flex;
  flex-direction: row;
  margin: 0;

}

.column-left {
  flex: 55%;
}

.column-right {
  flex: 45%;

}

.gallery-list .gallery-container:nth-child(even) {
  flex-direction: row-reverse;
}


@media (max-width: 1300px) {

  .gallery-list {
    margin: 0px;
  }

  .gallery-container {
    flex-direction: column;
  }

  .gallery-list div.gallery-container:nth-child(even) {
    flex-direction: column;
  }

  .gallery-heading h1 {
    font-size: 5rem;
  }
}