img {
  width: 100%;
}

h1 {
  color: var(--primary-color);
}

p {
  color: white;
}

#davography {
  color: white
}

/* HERO SECTION */

.hero {
  min-height: 100vh;
  background-image: url('../img/porsche_canaan.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-heading{
  font-size: 7rem;
}

#davography {
  border-bottom: 5px solid white;
  margin-right: 30px;
}

.hero-subtitle {
  font-size: 5rem;
  padding: 0 0 0 100px;
}

.hero-info{
  padding-top: 100px;
  padding-left: 10px;
}

.hero-form {
  background-color:var(--primary-color);
  border-bottom: 4px solid white;
  padding: 10px 0px;
}

.hero-form details summary{
  font-size: 2rem;
  text-align: center;
}

.hero-form h1 {
  color: black;
  text-align: center;
}

.hero-form summary {
  list-style: none;
  cursor: pointer;
}

.hero-form details summary::before{
  content:"🡒";
  padding-right: 3px;
}

.hero-form details[open] summary::before {
  content: "🡑";
}

.hero-links {
  margin-top: 150px;
  display: flex;
  justify-content: space-between;
}

.hero-link {
  text-decoration: none;
  padding: 30px 30px;
  margin: 50px 50px;
  border-radius: 14px;
  color: var(--primary-color);
  border: 3px solid var(--primary-color);
  background-color: black;
  font-family: Octarine;
  font-size: 2rem;
  transition: 200ms ease;
}


.hero-link:hover {
  border: 3px solid white;
  transform: translateY(-10px);
  box-shadow: 0 0.5em 0.5em -0.4em white;
  transition: 200ms ease;
  color: white;
  border-radius: 0px;
}




/* MEDIA QUERIES */

@media (max-width: 1300px) {

  .hero-heading{
    font-size: 3rem;
  }
  .hero-subtitle{
    font-size: 1.5rem;
    left: 120px;
  }

  .hero-image{
    background-size: contain;
  }

  .hero, .hero-links{
    flex-direction: column;
  }

}



