label {
  color: white;
}

.searchForm {
  display: flex;
  flex-direction: row;
  background-color: #ffb145;
  border-bottom: 4px solid white;
  padding: 10px;
}

.searchForm ul {
  list-style-type:none;
  padding: 0;
}

.searchForm ul li {
  display: inline-block;
  padding: 0px 10px;
}

.searchForm p {
  margin: 0;
  padding: 0px 1rem;
  color: black;
  font-size: 2rem;
  display: inline;
}


.searchForm input , select {
  font-size: 1.8rem;
}

@media (max-width: 1300px){
  .searchForm{
    flex-direction: column;
    width: 100%;
  }

  .searchForm p {
    display: block;
    font-size: 1rem;
    padding: 10px 0;
  }

  .searchForm ul li {
    display: block;
  }

  .searchForm input,select {
    font-size: 1rem;
  }
}