.searchForm{
  margin: 30px;
}

.searchForm label {
  margin: 0;
  color: black;
  font-size: 2rem;
}

.searchForm input[type=date],
.searchForm input[type=text],
.searchForm input[type=submit],
.searchForm select {
  box-sizing: border-box;
  font-size: 1.8rem;
  width: 100%;
  padding: 10px 20px;
  margin: 10px 0px;
}

input[type=submit] {
  border-radius: 15px;
  color: white;
  background-color: black;
  cursor: pointer;
}

@media (max-width: 1300px){
  .searchForm input,
  .searchForm select,
  .searchForm label {
    font-size: 1rem;
  }
}