.sidebar-wrapper {
  width: 75px;
  position: fixed;
  top: 0;
  left: 0;
  display:flex;
  flex-direction: column;
}

.menu-btn {
  background-color: var(--primary-color);
  padding: 20px;
  cursor: pointer;
  user-select: none;
}

.sidebar-nav {
  position: relative;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--primary-color);
  overflow-y: auto;
  display:none;
}

.active {
  left: 0px;
  z-index: 1;
  height: 100%;
  display: flex;
  /* background-color: #ffb145; */
}

.nav-links{
  height:100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.sidebar-nav ul {
  list-style-type: none;
  padding: 0;
}

.sidebar-nav li a {
  color: var(--primary-color);
  text-decoration: none;
  font-size: 2rem;
}

.nav-link {
  background-color: black;
  border-radius: 4px;
  height: 50px;
  width: 60px;
  color: var(--primary-color);
  text-decoration: none;
  font-size: 2rem;
  margin: 10px 0px;
}

.nav-link a:visited {
  color: var(--primary-color);
  text-decoration: none;
}

.hover-text {
  position: fixed;
  left: 100px;
  background-color: var(--primary-color);
  border-radius: 4px;
  padding: 0;
  margin: 0;
  height: 2rem;
}

.hover-text p {
  color: black;
}

.sidebar-searchform {
  background-color: var(--primary-color);
  position: fixed;
  width: 33%;
  left: 100px;
  top: 30px;
  border-radius: 30px;
  border: 3px solid white;
  transition: left 300ms ease-in-out;
}

.sidebar-nav button {
  cursor: pointer;
  border: none;

}

.hidden {
  left: -100%;
}

@media (max-width: 1300px){
  .sidebar-searchform{
    width: 50%;
  }
}