.sidebar-wrapper {
  height:100%;
  width: 75px;
  position: fixed;
  top: 0;
  left: 0;
  display:flex;
  flex-direction: column;
  z-index: 1;
}

.menu-btn {
  background-color: #ffb145;
  padding: 20px;
  cursor: pointer;
  user-select: none;
}

.sidebar-nav {
  position: relative;
  left: -400px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #ffb145;
  overflow-y: auto;
}

.active {
  left: 0px;
  /* background-color: #ffb145; */
}

.nav-links{
  height:100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.sidebar-nav ul {
  list-style-type: none;
  padding: 0;
}

.sidebar-nav li a {
  color: #ffb145;
  text-decoration: none;
  font-size: 2rem;
}

.nav-link {
  background-color: black;
  border-radius: 4px;
  height: 50px;
  width: 60px;
  color: #ffb145;
  text-decoration: none;
  font-size: 2rem;
  margin: 10px 0px;
}

.hover-text {
  position: fixed;
  left: 100px;
  background-color: #ffb145;
  border-radius: 4px;
  padding: 0;
  margin: 0;
  height: 2rem;
}