.footer_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  bottom: 0;
  border-top: 1px solid white;
}

.footer_grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 1rem;
}

.footer_column {
  display: flex;
  flex-direction: column;
  padding: 1rem 3rem;
  font-size: 1.2rem;
}

.footer_column_header {
  text-transform: uppercase;
  color: #ffb145;
}

.footer_column_link {
  text-decoration: none;
  padding: 0.5rem 0;
  color: white;
}

.footer_column_socials_container{

  grid-column: span 2;
}

.footer_column_socials{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.footer_column_socials a {
  padding: 0 2rem;
  font-size: 3rem;
  color: #ffb145;
}