.heading-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 30px;
  padding-left: 10px;
  font-size: 3rem;
}

p {
  padding: 0 10px;
  font-size: 1.5rem;
}

.gallery-link {
  background-color: #ffb145;
  border-radius: 50px;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 2rem;
  transition: 200ms;
}

.gallery-link:hover{
  background-color: white;
  color: black;
  transition: 200ms;
}

.sport-definition{
  padding: 30px;
}

@media (max-width: 1300px) {
  .heading-container {
    flex-direction: column;
    font-size: 2rem;
  }

  .gallery-link {
    font-size: 1.5rem;
  }

  p {
    font-size: 1rem;
    padding: 10 0;
  }
  .sport-definition{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}