:root {
  --main-bg-color: rgb(14,14,14);
  --primary-color: #ffb145;
}


body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: var(--main-bg-color);
}

@font-face {
  font-family: 'Typographica';
  src: url(./fonts/typographica/TypoGraphica_demo.otf);
}

@font-face {
  font-family: 'Octarine-Bold';
  src: url(./fonts/octarine/Octarine-Bold.otf);
}

.typographica {
  font-family: 'Typographica', sans-serif;
}

.octarine-bold {
  font-family: Octarine-Bold, sans-serif;
}

.center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.margin-tax {
  margin-left: 80px;
}

.padding-80 {
  padding-left:80px;
}

.bg {
  background-color: var(--main-bg-color);
}
