body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: rgb(14,14,14);
}

.center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.margin-tax {
  margin-left: 80px;
}

.padding-80 {
  padding-left:80px;
}

.bg {
  background-color: rgb(14,14,14);
}
